.container-hero-image {
  width: 300px;

  margin-left: auto;
  margin-right: auto;
}

.container-hero-image:nth-child(n) {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    75%,
    rgba(0, 0, 0, 0)
  );
}
